<div style="padding: 5rem 15rem">
    <p class="sub-title">Get the app</p>
    <p>Amplify is available on desktop, mobile, tablet, TVs, cars, watches and more!</p>

    <p class="sub-title">Create your account</p>
    <p>Just choose SIGN UP from the login screen in the app.
        You can use your email address or phone number, or Facebook or Apple accounts.
        More sign up details are optional, such as gender, date of birth, and what we
        should call you (your display name).</p>

    <p class="sub-title">Start playing</p>
    <p>Explore and discover! The more you use Spotify,
        the more we get to know you and can recommend music and podcasts just for you.
        Pick your device for the basics of how to play.</p>

    <p class="sub-title">Premium trials</p>
    <p>If you’ve never had Premium or been a member of a Premium plan such as
        Premium or Diamond, try any plan for a reduced rate or even free.</p>
</div>
