

<div *ngIf="confirmation" class="summary-items-container">
    <h4 class="sub-card-title sub-form-title mb-3" style="margin-left: 1rem">Summary</h4>
    <div style="margin-left: 1rem">
        <p class="summary-name">{{user?.firstName}} {{user?.lastName}}</p>
        <p>{{user?.email}}</p>
        <p class="sub-description">{{user?.cardNumber ? "Card:&nbsp;&nbsp;&nbsp;&nbsp;" + (user?.cardNumber | cardNumberCensoring) : ""}}</p>
        <p class="sub-description">{{user?.cvv ? "CVV:&nbsp;&nbsp;&nbsp;&nbsp;" + (user?.cvv | cvvCensoring) : ""}}</p>
        <p class="sub-description">{{user?.expiration ? "Expire date:&nbsp;&nbsp;&nbsp;&nbsp;" + (user?.expiration | date: "MM - y") : ""}}</p>
    </div>

    <div class="sub-summary-container">
        <p>Subscription  {{subscription?.subName}}</p>
        <p>$  {{subscription?.subPrice}} / month</p>
    </div>

    <div class="btn-container">
        <button class="btn-cancel" (click)="cancelSubEmit()">Cancel</button>
        <button [ngClass]="user ? 'btn-modify' : 'btn-disabled'" (click)="modifySubEmit()" [disabled]="!user">Modify</button>
        <button [ngClass]="user ? 'btn-continue' : 'btn-disabled'" (click)="confirm()" [disabled]="!user">Confirm</button>
    </div>

</div>

<div *ngIf="!confirmation" class="confirm-container">
    <a routerLink="/library"></a>
    <h4>music is louder<br>than ever!</h4>
    <p>Welcome to Amplify</p>
    <img src="assets/confirmation.png" class="confirm-img">
</div>
