<h4 class="sub-card-title sub-form-title mb-5" style="margin-left: 1rem">Summary</h4>
<div style="padding: 1rem">
<p class="summary-name">{{user?.firstName}} {{user?.lastName}}</p>
<p>{{user?.email}}</p>
<p class="sub-description">{{user?.cardNumber | cardNumberCensoring}}</p>
<p class="sub-description">{{user?.expiration | date: "MM - y"}}</p>
</div>
<div class="sub-summary-container">
    <p>Subscription  {{subscription?.subName}}</p>
    <p>$  {{subscription?.subPrice}} / month</p>
</div>
<div class="btn-container">
<button class="btn-cancel" (click)="cancelSubEmit()">Cancel</button>
<button class="btn-modify" (click)="modifySubEmit()">Modify</button>
<button class="btn-continue">Continue</button>
</div>