.sub-form-summary {
  display: flex;
  justify-content: space-between;
}

.sub-form {
  width: 52%;
  background-color: rgb(250,250,250);
  border-radius: 2rem;
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.20);
  margin-top: 5rem;
  padding: 2rem;
}

.sub-summary {
  width: 43%;
  background-color: rgb(250,250,250);
  border-radius: 2rem;
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.20);
  margin-top: 5rem;
  padding: 2rem;
}

.sub-form-title {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(195,10,65);
}

.sub-button-form {
  background-color: rgb(195,10,65);
  border: none;
  width: 6rem;
  height: 3rem;
  border-radius: 50vh;
  color: rgb(250,250,250);
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sub-summary-container {
  background-color: rgb(232, 232, 232);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  //margin-bottom: 2rem;
  //margin-top: 4rem;
}

.summary-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  //margin-top: 2rem;
}

.btn-cancel {
  background-color: rgb(232, 232, 232);
  border: none;
  width: 7rem;
  height: 3rem;
  border-radius: 50vh;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn-modify {
  background-color: rgb(232, 232, 232);
  border: none;
  border: 4px solid rgb(195,10,65);
  width: 7rem;
  height: 3rem;
  border-radius: 50vh;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn-continue {
  background-color: rgb(195,10,65);
  border: none;
  width: 7rem;
  height: 3rem;
  border-radius: 50vh;
  color: rgb(250,250,250);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.summary-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.confirm-container {
  height: 112.5%;
  margin: -2rem;
  border-radius: 2rem;
  background-color: rgb(195,10,65);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  position: relative;
}

.confirm-img {
  width: 25rem;
}

.confirm-container h4 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: rgb(250,250,250);
}

.confirm-container p {
  font-size: 1.5rem;
  color: rgb(203, 203, 203);
}

.confirm-container a {
  position: absolute;
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-disabled {
  background-color: rgb(232, 232, 232);
  border: none;
  width: 7rem;
  height: 3rem;
  border-radius: 50vh;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 40%;
}