<div class="sub-form-summary">
  <div class="sub-form">
    <h4 class="sub-card-title sub-form-title mb-5">fill up the form</h4>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="firstName">First name</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName"/>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="lastName">Last name</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName"/>
      </div>
    </div>
  </div>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email address</label>
    <input type="email" id="email" class="form-control" formControlName="email"/>
  </div>

  <!-- Card -->
  <div class="form-outline mb-4">
    <label class="form-label" for="cardNumber">Card number</label>
    <input type="number" id="cardNumber" class="form-control" formControlName="cardNumber"/>
  </div>

  <!-- Cvv -->

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label" for="cvv" >CVV</label>
        <input type="number" id="cvv" class="form-control" formControlName="cvv"/>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="expiration">Expiration</label>
        <input type="date" id="expiration" class="form-control" formControlName="expiration"/>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div>
  <button type="submit" class="sub-button-form">Apply</button>
  </div>

</form>
  </div>
  <div class="sub-summary">
    <app-summary [user]="user" [subscription]="subscription" (voidEmitterCancel)="cancelSubEmit()"
    (voidEmitterModify)="modifySub()"></app-summary>
  </div>
</div>