<div class="sub-form-summary">
  <div class="sub-form">
    <h4 class="sub-card-title sub-form-title mb-5">fill up the form</h4>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="firstName">First name</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName" minlength="3" maxlength="20" required pattern="[a-z A-Z]+"/>
          <!--<small *ngIf="myForm?.get('firstName')?.value.length < 3">Inserire almeno 3 caratteri</small>-->
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="lastName">Last name</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName" minlength="3" maxlength="20" required pattern="[a-z A-Z]+"/>
      </div>
    </div>
  </div>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email address</label>
    <input type="email" id="email" class="form-control" formControlName="email" maxlength="30" required/>
  </div>

  <!-- Card -->
  <div class="form-outline mb-4">
    <label class="form-label" for="cardNumber">Card number</label>
    <input type="number" id="cardNumber" class="form-control" formControlName="cardNumber" min="1000000000000000" max="9999999999999999" required/>
  </div>

  <!-- Cvv -->

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label" for="cvv" >CVV</label>
        <input type="number" id="cvv" class="form-control" formControlName="cvv" min="100" max="999" required/>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="expiration">Expiration</label>
        <input type="date" id="expiration" class="form-control" formControlName="expiration" required/>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div>
  <button [ngClass]="myForm.valid ? 'sub-button-form' : 'btn-disabled'" type="submit"
          [disabled]="myForm.invalid">Apply</button>
  </div>

</form>
  </div>
  <div class="sub-summary">
    <app-summary [user]="user" [subscription]="subscription" (voidEmitterCancel)="cancelSubEmit()"
    (voidEmitterModify)="modifySub()"></app-summary>
  </div>
</div>